body {
      font: 400 15px Tahoma, sans-serif;
      line-height: 1.8;
      color: black;
      background-color: white;
  }
h1 {
      background-color:#483D8B; 
      color: #fff;
      text-transform: uppercase;
      padding: 100px 25px;
      text-align: center;     
  }